/* Centralizar o link */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.centralized-link {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    display: flex;
    align-items: center;
}

/* Espaço entre o ícone e o texto */
.centralized-link i {
    margin-right: 10px;
}
